# Ignore everything by default
*

# Whitelist directories
!*/

# Whitelist specific files and directories
!*.uproject
!.gitignore
!_Documentation/**
!Config/**
!Content/**
!Content/*_BuiltData.uasset
!Source/**
!Script/**
!Saved/Config/Windows/*.ini
!Plugins/**
!Plugins/NVIDIA/DLSS/Source/**/*.lib
!Build/*/PakBlacklist*.txt
!Build/**/*.ico
!SourceContent/**/*.blend
!SourceContent/**/*.psd
!SourceContent/**/*.xcf
!SourceContent/**/*.aup3
!SourceContent/**/*.svg

# Ignore cache files
/Saved/

# Ignore log files
Saved/Logs/
